/* navbar section */

#navbar ul {
    margin-left: 2%;
}


/* home section */

#home h1 {
    margin: 20px 20px 20px 111px;
}

#home p {
    margin: 0px 50px;
    padding: 0px 50px
}


/* services section */


/* our project top  */


/* project container  */


/* our project bottom */