/* css reset */

* {
    margin: 0;
    padding: 0;
}


/* Navigation Bar */

#navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 67px;
    z-index: 1;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: #2a77e3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}


/* Navigation Bar : Logo and Image */

#logo {
    margin: -4px 24px;
    position: absolute;
    left: 0;
}

#logo img {
    height: 50px;
    margin: 8px 6px 4px 6px;
}


/* Navigation Bar : List Styling*/

#navbar ul {
    display: flex;
    margin-left: 55%;
}

#navbar ul li {
    display: flex;
    list-style: none;
}

#navbar #contact-us {
    border: 1px solid white;
    border-radius: 5px;
    list-style: none;
    padding: 8px 19px;
    margin-left: 13px;
}

#navbar #contact-us a {
    color: white;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
}

#navbar ul li a {
    color: white;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 3px 21px;
    text-decoration: none;
    letter-spacing: 0.02em;
    display: inline-block;
    position: relative;
}

#navbar ul li a i img {
    width: 18px;
    height: 18px;
    filter: invert(1);
}

#navbar ul li a::after {
    content: "";
    position: absolute;
    background: none repeat scroll 0 0 transparent;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    display: block;
    background: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.6s ease 0s;
}

#navbar ul li a::after:hover {
    visibility: visible;
    transform: scaleX(0.6);
}


/* Home section */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 360px;
}

#home h1 {
    text-align: center;
    margin: 20px;
}

#home p {
    color: #878787;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}


/* Services Section */

.services-container ul {
    margin: -177px 40px;
    padding: 85px;
    display: block;
    list-style-type: none;
    text-align: center;
}

.services-container ul li {
    display: inline-block;
    width: 17%;
    vertical-align: middle;
}

.services-container ul li a {
    display: block;
    color: #444;
    text-decoration: none;
    font-weight: 500;
    margin: 50px 15px;
    text-align: center;
    position: relative;
    background-color: transparent;
}

.services-container ul li a::before {
    content: '';
    background-image: url(../img/line.png);
    width: 0px;
    height: 4px;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: -2;
    box-sizing: border-box;
}

.services-container ul li a p {
    margin: 0;
    max-height: 40px;
    min-height: 40px;
    overflow: hidden;
    color: #444;
}

.services-container ul li a span::before,
.services-container ul li a span::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 2px solid rgba(0, 152, 219, .7);
    filter: blur(0);
    transform-origin: 50%;
    z-index: -1;
    box-sizing: border-box;
}

.services-container ul li a span {
    display: block;
    line-height: 70px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .2);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto 15px;
    background: #fff;
    position: relative;
}

.services-container ul li a span img,
.services-container ul li a span svg {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border-style: none;
}

.services-container ul li :nth-child(5) a ::before,
.services-container ul li :nth-child(6) a ::before {
    display: none;
}

.services-container ul li :nth-child(5) a ::after {
    content: '';
    background-image: url(u-line.dbbb62753f00f9245772.png);
    width: 184px;
    height: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: -2;
    background-size: 94%;
    background-repeat: no-repeat
}

@media (max-width:576px) {
    .services-container {
        padding: 40px 0;
    }
}

#box-10::before,
#box-9::before,
#box-8::before,
#box-7::before {
    display: none;
}

#box-10::after,
#box-9::after,
#box-8::after,
#box-7::after {
    left: auto!important;
    right: 50%!important;
    content: '';
    background-image: url(line.aee796aab4df905500cd.png);
    width: 0;
    height: 4px;
    position: absolute;
    top: 30%;
    z-index: -2;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg)
}

.services #box-1::before {
    -webkit-animation: 1s .5s forwards seconds;
    animation: 1s .5s forwards seconds;
    position: relative;
}

.services #box-2::before {
    -webkit-animation: 1s 1s forwards seconds;
    animation: 1s 1s forwards seconds;
    position: relative;
}

.services #box-3::before {
    -webkit-animation: 1s 1.5s forwards seconds;
    animation: 1s 1.5s forwards seconds;
    position: relative;
}

.services #box-4::before {
    -webkit-animation: 1s 2s forwards seconds;
    animation: 1s 2s forwards seconds;
    position: relative;
}

.services #box-5::before {
    -webkit-animation: .8s 2.5s forwards seconds;
    animation: .8s 2.5s forwards seconds;
    position: relative;
}

.services #box-10::before {
    -webkit-animation: 1s 3.2s forwards seconds;
    animation: 1s 3.2s forwards seconds;
    position: relative;
}

.services #box-9::before {
    -webkit-animation: 1s 3.5s forwards seconds;
    animation: 1s 3.5s forwards seconds;
    position: relative;
}

.services #box-8::before {
    -webkit-animation: 1s 4s forwards seconds;
    animation: 1s 4s forwards seconds;
    position: relative;
}

.services #box-7::before {
    -webkit-animation: 1s 4.5s forwards seconds;
    animation: 1s 4.5s forwards seconds;
    position: relative;
}

@-webkit-keyframes seconds {
    0% {
        width: 0
    }
    100% {
        width: 210px
    }
}

@keyframes seconds {
    0% {
        width: 0
    }
    100% {
        width: 210px
    }
}

@-webkit-keyframes hseconds {
    0% {
        height: 0
    }
    100% {
        height: 238px
    }
}

@keyframes hseconds {
    0% {
        height: 0
    }
    100% {
        height: 238px
    }
}

.services ul li a span::before,
.services ul li a span::after,
{
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 2px solid rgba(0, 152, 219, .7);
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    z-index: -1
}

.services ul li a span::before:hover,
.services ul li a span::after:hover {
    border-color: transparent;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition: blur 2.1s, border-color .9s, -webkit-transform 1s;
    transition: 2.1s blur ease, .9s border-color ease, 1s -webkit-transform ease;
    transition: 1s transform ease, 2.1s blur ease, .9s border-color ease;
    transition: 1s transform ease, 2.1s blur ease, .9s border-color ease, 1s -webkit-transform ease
}

.services ul li a span::after:hover {
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}


/* Our-projects section */

#our-projects {
    padding: 70px 0px;
}


/* projects section */

#projects {
    background: rgb(104, 42, 219);
    color: white;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    padding: 10rem 20%;
}

#contact h1 {
    margin-top: 500px;
}

#contact::before {
    content: "";
    position: absolute;
    background: url(../images/bg2.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#contact-box form {
    width: 40%;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box label {
    font-size: 1.3rem;
    font-weight: bold;
}


/* Utility Classes */

.h-primary {
    font-size: 35px;
    font-family: Montserrat, sans-serif;
    padding: 12px;
}

.h-secondary {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    padding: 2px 2px;
}

.btn {
    font-size: 1.3rem;
    border: 2px solid white;
    border-radius: 10px;
    padding: 6px 20px;
    margin: 17px;
    background-color: rgb(20, 138, 4);
    color: white;
    cursor: pointer;
}

.center {
    text-align: center;
}